<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>

</head>
<body>
    <a href="{% url 'blogindex' %}">Back To Feed</a>
     <p>{{ blog.title }}</p>
     <p>{{ blog.diet }}</p>
     <p>{{ blog.course }}</p>
    <p><strong>{{ blog.author }}</strong> </p>
    <p><br>{{ blog.created_on }}</p>
 <p>{{ blog.body }}</p>
 <!-- <p>{{ blog.preptime }}</p> -->
    
</body>

</html>