

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <title>Blog</title>
</head>
<body>



<!-- 
    {% for message in messages %} 
        <strong>Message: </strong> {{message}}
        
    {% endfor %} 


    {% if user.is_authenticated %} 
    <h3>Welcome {{ name }}</h3>
    <h4>Successfully logged in !</h4>
    {% else %} 
    <h3>Wrong page</h3>
    {% endif %} -->

    <header>

        <div class="user">
            <!-- <img src="images/logo.png.png" alt="My logo" class="logo"> -->
            <p class="logo">iCode</p>
            <img src="{% static 'user.webp' %}" alt="Profile Photo" class="pic">
            <p class="name">{{name}}</p>
            <div class="public-status">
                <p class="following"><b>30</b><br>FOLLOWERS
                </p>
                <p class="follower"><b>30</b><br>FOLLOWING</p>
            </div>
        </div>
    
        <nav class="navbar">
            <hr>
            <ul>
                
                <li><a href="/addpost/index">Dashboard</a></li>
                <li><a href="/addpost">Add recipie</a></li>
                
                <li><a href="/signout" id="logout">Logout</a></li>

            </ul>
        </nav>
        
    
    </header>
    <center>
        
    <div class="container">

        <div class="row justify-content-center mt-3 content">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h1>
                        Add a blog post
                </h1>
                <form action="" method="post">
                    {% csrf_token %}

                    {{ form }}
                    <br><br>
                    <button type="submit">Submit!</button>
                </form>
            </div>
        </div>

        </div>


</center>

</body>
</html>