{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <title>MainPage</title>
</head>
<body>





    <header>

    
        <nav class="navbar">
            <hr>
            <ul>
                <li><a href="/addpost/index">Dashboard</a></li>
                <li><a href="/addpost">Add recipie</a></li>
                <li><a href="/search">Search for recipie</a></li>
                
                <li><a href="/signout" id="logout">Logout</a></li>

                
            </ul>
        </nav>
    
    </header>

    <section class="dashboard" id="dashboard">

        <div class="top-navbar">
            <form action="" method="get">
                
                </form>
            </div>
        </div>
        
        <div class="row justify-content-center mt-3 blogg">
            {% for blog in blog_list %}
            <div class="col-md-5 col-sm-12 border-bottom bloogg">
                <p>{{ blog.title }}</p>
                <p>{{ blog.diet }}</p>
                <p>{{ blog.course }}</p>
               <p><strong>{{ blog.author }}</strong> </p>
               <p><br>{{ blog.created_on }}</p>
            <p>{{ blog.body }}</p>
            </div>
            {% endfor %} 
        </div>
        
    </div>
    


        
    </section>
    

</body>
</html>